huggingface-hub==0.13.3
kiwisolver==1.4.4
matplotlib==3.6.1
multidict==5.1.0
pandas==1.4.4
protobuf==3.14.0
pyarrow==11.0.0
python-socks==1.1.2
PyYAML==6.0
responses==0.18.0
sarge==0.1.7.post1
scipy==1.9.1
sentencepiece==0.1.97
tfrecord==1.11
tokenizers==0.13.2
torch==1.8.2
torchaudio==0.8.2
torchvision==0.9.2
transformers==4.27.3

